.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(122, 137, 151);
}

.nav li{
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.user {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
  -webkit-box-shadow: 1px 10px 10px -1px rgba(0,0,0,0.34);
  -moz-box-shadow: 1px 10px 10px -1px rgba(0,0,0,0.34);
  box-shadow: 1px 10px 10px -1px rgba(0,0,0,0.34);
}

.mainText {
  display: flex;
  justify-content: center;
}

.bckImg {
  display: flex;
  justify-content: center;
  height: 500px;
}